.listItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 20px;
    min-width: 500px;
}

.displayListItems {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
    margin-top: 10px;
    height: 600px;
}

.displayListHeader, .createList {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 5px;
}

.displayListHeader::before {
    background-image: url('todo2.png');
    background-size: cover;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    vertical-align: middle;
    margin-right: 10px;
}

#taskInput {
    margin: 10px 10px 20px 10px;
    height: 30px;
    width: 75%;
    outline-color: grey;
    font-size: 1.1rem;
    font-weight: 900;
}

#addTaskBtn {
    width: 17%;
    height: 37px;
    border-radius: 10px;
    background-color: rgb(75, 153, 158);
    color: #ffffff;
    border: none;
    font-weight: 900;
}

#addTaskBtn:active {
    background-color: rgb(118, 200, 228);
    color: rgb(31, 31, 94);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskContainer {
    display: flex;
    margin-left: 50px;
}

.delListBtn {
    height: 30px;
    width: 100px;
    background-color: rgb(75, 153, 158);
    margin-right: 20px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 900;
}

.taskLabel {
    display: flex;
    width: 73%;
    height: 25px;
    align-items: center;
    font-size: 1.3rem;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 900;
}

.taskLabel.selected {
    background-color: rgb(170, 235, 240);
    border-radius: 5px;
}

.taskLabel:hover {
    background-color: rgb(217, 238, 240);
    border-radius: 5px;
}